SECRET_KEY=django-insecure-b23cfzgc6p1q4u#mdgj9grt+%*xe5ohj-qw*42m5rrmq83i#$6
DEBUG=True
ALLOWED_HOSTS='*'

# DATABASE Configuration
DB_NAME=tinnova
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432